body {
    background-color: #0d1117; /* Koyu arka plan */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.question-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Tam ortalamak için şart */
    transition: 0.2s;
    text-align: center;
    width: 100%;
}

.local-gif {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 3rem auto;
    pointer-events: none;
}

.question {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

/* Butonun seçilmesini ve mavi kutucuğu engeller */
.btn {
    -webkit-tap-highlight-color: transparent; /* Mobil mavi kutu engelleyici */
    user-select: none; /* Metin seçmeyi engeller */
    touch-action: manipulation; /* Zoom yapmayı önler, tıklamayı hızlandırır */
}

/* Mobilde butonun dışarı taşmaması için kapsayıcıyı sınırla */
body {
    position: fixed; /* Sayfanın mobilde kaymasını engeller */
    width: 100%;
    height: 100%;
}

/* Hayır butonunun başlangıç pozisyonu için */
#noBtn {
    position: relative; 

}
