body {
    background-color: #0d1117; /* Koyu arka plan */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.question-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Tam ortalamak için şart */
    transition: 0.2s;
    text-align: center;
    width: 100%;
}

.local-gif {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin: 0 auto 3rem auto;
    pointer-events: none;
}

.question {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.btn {
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ff54a4;
    color: white;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 107, 129, 0.5);
}

/* Hayır butonunun başlangıç pozisyonu için */
#noBtn {
    position: relative; 
}